.textButton {
	color: #fff;
	font-family : 'Open Sans',monospace;
    font-size : 20px;
	text-decoration:none;
	position: absolute;
	top:15px;
	left: 10%;
	right: 10%;
}

.backButton{
  background-color: #7C0708;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 50px;
  left: 5%;
  border-radius: 5px;
}

.backButton__inGame{
	@extend .backButton;
	left: -130px; 
}
.butMy{
	color: #800000;
}