.bg {
	background-image: url("../bg.jpg");
}


.input {
	font-family: 'Open Sans',monospace;
	font-size: 20px;
	border-radius: 5px;
	position: absolute;
	position: 0px;
	top: 0px;
	right: 45px;
	width: 240px;
	height: 30px;
}
.cusInput{
	position: relative;
	left: 5%;
	margin-bottom: 30px;

}


.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; 
}

.page__autorizationLabel {
	color: #FFF;
	font-family: 'Open Sans',monospace;
	font-size: 15px;
	
}


.gamepad__button {
	border-radius: 5px;
	position: relative;
	text-decoration:none;
    width: 240px;
    height: 35px;
    margin: auto;
    margin-bottom: 20px;
    position:relative;
    bottom: 10px;
    border-radius: 5px;
}

@media screen and (orientation:portrait) {

  #container {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    width: auto ;
    height: auto ;
    overflow: scroll;
  }
}

.loader_bg {
	background-color: 'white';
	position:absolute;
	font-size:30px;
	top: 45% ;
	left: 45%;
}