
html {
        background: url("../bg.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.bg {
	background-image: url("../contra3-1.png");
}

.canvasHide {
	display : none;

}
.input {
	font-family: 'Open Sans',monospace;
	font-size: 20px;
	border-radius: 5px;
	position: absolute;
	position: 0px;
	top: 0px;
	right: 45px;
	width: 240px;
	height: 30px;
}
.cusInput{
	position: relative;
	left: 5%;
	margin-bottom: 30px;

}


.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; 
}

.page__autorizationLabel {
	color: #FFF;
	font-family: 'Open Sans',monospace;
	font-size: 15px;
	
}


.gamepad__button {
	border-radius: 5px;
	position: relative;
	text-decoration:none;
    width: 240px;
    height: 35px;
    margin: auto;
    margin-bottom: 20px;
    position:relative;
    bottom: 10px;
    border-radius: 5px;
}

@media screen and (orientation:portrait) {

  #container {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    width: auto ;
    height: auto ;
    overflow: scroll;
  }
}

.loader_bg {
	background-color: 'white';
	position:absolute;
	font-size:30px;
	top: 45% ;
	left: 45%;
}

.informationMessage {
	font-family: 'Open Sans',monospace;
	font-size: 20px;
	text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 40%;
    left: 0;

}

.informationBg {
	display: none;
	background-color: rgba(0,0,255,0.5);
	position: absolute;
	top: 30%;
	left: 20%;
	width: 60%;
	height: 40%;
	border-radius: 15px;
}