$font-family : 'Open Sans',monospace;
$font-size : 22px;

.menu {
	background-color: rgba(143,137,124,0.5);
	width: 400px;
	height: 600px;
	margin: auto;
	position: relative;
}

@media screen and (max-width: 600px) {
    .menu {
        background-color: rgba(143,137,124,0.5);
		width: auto;
		height: 400px;
		margin: auto;
		position: relative;
    }
 }

 @media screen and (max-width: 800px) and (orientation:landscape) {
    .menu {
        background-color: rgba(143,137,124,0.5);
		width: auto;
		height: 100%;
		margin: auto;
		position: relative;
    }
 }


.gamefield{
	width: 800px;
	height: 480px;
	margin: auto;
	position: relative;
}
.logo {
	font-family: $font-family;
	font-size: $font-size;
	color: #fff;
	text-decoration:none;
	text-align: center;
	position: inherit;
	top:25%;
}
.hend {
	font-family: $font-family;
	font-size: $font-size;
	text-decoration:none;
	text-align: center;
	margin-bottom: 25px;

}
.button {
	margin: auto;
	position: relative;
    border-radius: 5px;
}
.button__top {
	@extend .button;
    background-color:#000000;
    margin-bottom: 40px;
    top: 5px;
    width: 240px;
    height: 60px;
    
}

.button__menu {
	@extend .button;
	background-color:#4A4947;
    margin-bottom: 15px;
    width: 180px;
    height: 50px;
}