.informationMessage_login {
    font-family: 'Open Sans',monospace;
	font-size: 20px;
	text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 40%;
    left: 0;
	
}

.informationBg_login {
	display: none;
	background-color: rgba(0,0,255,0.5);
	position: absolute;
	top: 35%;
	left: 10%;
	width: 80%;
	height: 30%;
	border-radius: 15px;
	
}

.informationMessage_signin {
    font-family: 'Open Sans',monospace;
	font-size: 20px;
	text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 40%;
    left: 0;
	
}

.informationBg_signin {
	display: none;
	background-color: rgba(0,0,255,0.5);
	position: absolute;
	top: 35%;
	left: 10%;
	width: 80%;
	height: 30%;
	border-radius: 15px;
	
}

.informationMessage_main {
    font-family: 'Open Sans',monospace;
	font-size: 20px;
	text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 40%;
    left: 0;
	
}

.informationBg_main {
	display: none;
	background-color: rgba(0,0,255,0.5);
	position: absolute;
	top: 40%;
	left: 10%;
	width: 80%;
	height: 20%;
	border-radius: 15px;
	
}

@media screen and (max-width: 600px) {

.informationMessage_gamepad {
    font-family: 'Open Sans',monospace;
	font-size: 20px;
	text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 40%;
    left: 0;
	
}

.informationBg_gamepad {
	display: none;
	background-color: rgba(0,0,255,0.5);
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	height: 60%;
	border-radius: 15px;
	
}

}

@media screen and (max-width: 800px) and (orientation:landscape) {
	
.informationMessage_gamepad {
    font-family: 'Open Sans',monospace;
	font-size: 20px;
	text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 40%;
    left: 0;
	
}

.informationBg_gamepad {
	display: none;
	background-color: rgba(0,0,255,0.5);
	position: absolute;
	top: 30%;
	left: 10%;
	width: 80%;
	height: 40%;
	border-radius: 15px;
	
}

}

.gamepadRule__informationMessage {
	font-family: 'Open Sans',monospace;
	font-size: 20px;
	text-align: center;
    position: absolute;
    top: 40%;
    left: 0%;
    right: -20%;
	
}

.informationMessage_Rule {
    font-family: 'Open Sans',monospace;
	font-size: 20px;
	text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 5%;
    left: 0;
	
}

.informationBg_Rule {
	display: block;
	background-color: rgba(0,0,255,0.5);
	position: absolute;
	top: 30%;
	left: 10%;
	width: 80%;
	height: 40%;
	border-radius: 15px;
}